body *{
	color: whitesmoke; 
	display: inline-block;
	font-family: Dancing Script; 
	border-color: darkblue; 
	text-shadow: 1px 1px 1px #000
}

a{
	color: darkblue; 
	font-size: 1em; 
	text-shadow:none; 
}

a:hover{color: red}

p {
	font-size: 3em; 
	font-family: Dancing Script; 
	line-height: 1.35em
}

h2{font-size: 5em !important;}

h4{font-size: 2em !important}

input{font-size: 1em}

.nube1, .nube2, .nube3, .nube4 {
	position: fixed;
	top: 25px;
	z-index: 10;
}

.nube1{
	left: 210px;
}
.nube2{
	left: 610px;
}
.nube3{
	left: 1010px;
}
.nube4{
	left: 1410px;
}

.header1, .header2, .header3, .header4 {
	z-index: 10;
	z-index: 15;
	color: blueviolet; 
	font-family: Rubik Doodle Shadow; 
	font-weight: 1000; 
	font-size: 1.5em; 
	display: inline-block; 
	
}
.header1 {
	position: fixed;
	top: 65px;
	left: 325px;
	
}

.header2 {
	position: fixed;
	top: 90px;
	left: 710px;
}

.header3 {
	position: fixed;
	top: 75px;
	left: 1090px;
}

.header4 {
	position: fixed;
	top: 90px;
	left: 1465px;
}

.intro{
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 380px;
	font-size: 5em;
}

.foto{
	position: absolute;
	top: 310px;
	left: 430px;
}

.background{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
	color: palevioletred;
	background: palevioletred;
	text-shadow: none;
	height: 900px;
	width: 1903px;
}

.footer-redes{
	position: relative;
	top: 600px;
	left: 790px;
}

.footer-ig{
	position: relative;
	font-size: 2em; 
	font-family: Rubik Doodle Shadow;
	top: 600px;
	left: 1320px;
}

.footer-fb{
	position: relative;
	font-size: 2em; 
	font-family: Rubik Doodle Shadow;
	top: 620px;
	left: 1330px;
}

.footer-tk{
	position: relative;
	font-size: 2em; 
	font-family: Rubik Doodle Shadow;
	top: 640px;
	left: 1350px;
}

.footer-copy{
	position: relative;
	top: 670px;
	left: 1200px;
}

input:focus{
	border: 3px solid blueviolet;
}

input{
	color: darkviolet;
	padding: 0px 5px;
}

.footer-button{
	position: relative;
	left: 40px;
	top: 0px;
	background-color: blueviolet;
	font-family: Rubik Doodle Shadow; 
	color: whitesmoke;
	text-shadow: none;
	font-size: 1em; 
	padding: 10px 150px;
}

.footer-button:hover{background-color: darkblue;}

.footer {
	position: relative;
	top: 930px;
	left: 236px;
	font-size: 1.5em;
}

.footer-name{
	position: relative;
	left: 15px;
	top: 5px;
	font-size: 1.5em;
}

.footer-mail{
	position: relative;
	left: 33px;
	top: 5px;
	font-size: 1.5em;
}

.footer-cel{
	position: relative;
	left: 20px;
	top: 5px;
	font-size: 1.5em;
}

.footer-div{
	transform: rotate(90deg);
	display: inline-block;
	color: whitesmoke;
	position: relative;
	left: 320px;
	top: 485px;
}

.caja{
	position: absolute;
	left: 0px;
	top: 900px;
	z-index: -1;
	color: mediumpurple;
	background: mediumpurple;
	text-shadow: none;
	height: 450px;
	width: 1903px;
}

---------------------------------------------------------------------------------------------------------

